/* Styles go here */

md-list{
  background-color:#f5f5f5;
}

body{
  background-color:#f5f5f5;
}

a {
  color:inherit;
  text-decoration:none;
}

.filter span {
  font-weight: 400;
  font-size: 15px;
}

.animate {
  -webkit-transition:all cubic-bezier(.65,.02,.29,1) 6s !important;
  -moz-transition:all cubic-bezier(.65,.02,.29,1) 6s !important;
  -o-transition:all cubic-bezier(.65,.02,.29,1) 6s !important;
  transition:all cubic-bezier(.65,.02,.29,1) 6s !important;
  -webkit-transform:rotateX(-900deg) !important;
  -moz-transform:rotateX(-900deg) !important;
  -o-transform:rotateX(-900deg) !important;
  transform:rotateX(-900deg) !important;
}

.pointer {
  cursor:pointer;
}

.page-container {
  height:100vh;
}

#top-bar{
  background-color:#333;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.md-card {
  min-width: 280px;
  background-color:#fff;
  padding:0;
}

#event-card {
  height:100%;
  width:100%;
}

.md-card:hover{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
}

.md-tall{
  background:url('https://d2fijpsef22722.cloudfront.net/photos/massive/847187872-san-francisco.jpg');
  background-size:cover;
  background-position:50%;
  min-width:700px;
}

.md-tall h1 {
  font-size:120%;
}

.full-gradient h1 {
  text-shadow:1px 1px rgba(0,0,0,0.2);
}

.box-shadow-menu {
  position: relative;
  cursor: pointer;
  z-index: 1;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  right: 0;
}

.box-shadow-menu:active {
  background-color:rgba(0,0,0,0.1);
}

.box-shadow-menu:hover:before {
  background: rgba(255,255,255,1);
  box-shadow: 
    0 0.25em 0 0 rgba(255,255,255,1),
    0 0.5em 0 0 rgba(255,255,255,1);
}

.box-shadow-menu:before {
  margin:0 auto;
  cursor:pointer;
  content: " ";
  position: absolute;
  top: 17px;
  left:0;
  bottom: 0;
  right:0;
  width: 1em;
  height: 0.1em;
  background: rgba(255,255,255,0.8);
  box-shadow: 
    0 0.25em 0 0 rgba(255,255,255,0.8),
    0 0.5em 0 0 rgba(255,255,255,0.8);
}

.md-raised {
  padding:15px;
}

.gradient {
  background:linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0) 50%,rgba(0,0,0,.6) 100%);
  width:100%;
  height:100%;
}

.full-gradient {
  background:rgba(0,0,0,0.4);
  width:100%;
  height:100%;
  text-align:center;
}

.white-gradient {
  background:rgba(255,255,255,0.2);
  width:100%;
  height:100%;
}

.full-gradient h1 {
  font-size:350%;
  margin:0;
}

.card-title {
  color:rgba(255,255,255,1);
  padding:5px 10px;
  margin:0;
}

#spin {
  background-color:#03A9F4;
  color:rgba(255,255,255,0.8);
}

#search {
  background-color:#333;
  color:rgba(255,255,255,0.8);
}

.yes-button {
  border-radius:3px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  cursor:pointer;
  background-color:tomato;
  height:150px;
  width: 600px;
  backface-visibility:hidden;
}

.buttons {
  margin:40px 0;
}

.full-height {
  height:100%;
}

.face {
  border-radius: 50%;
  border: 1px solid #ddd;
  width: 120px;
  height:120px;
  margin: 16px auto;
  overflow:hidden;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
}
.img-size {
  height:120px;
  width:120px;
  background-size:120px;
  background-position:50% 50%;
  background-repeat:no-repeat;
  /* background-color:rgba(255,128,0,0.2); */
}

.button-container {
  margin-top:2.5em;
  cursor:pointer;
  border-radius:3px;
  border:1px inset #f5f5f5;  
}

#prism {
  width:100%;
  height:100%;
  position: absolute;
  transform-style: preserve-3d;
  -webkit-transform-style:preserve-3d;
  box-shadow:0 2px 5px rgba(0,0,0,0.3);
  box-sizing:border-box;
}

figure {
  margin:0;
}

.hover {
  -webkit-transform: translateZ( 10px ); 
  -moz-transform: translateZ( 10px ); 
  -o-transform: translateZ( 10px );
  -ms-transform: translateZ( 10px ); 
}

.no-hover {
  -webkit-transform: translateZ( 0px ); 
  -moz-transform: translateZ( 0px ); 
  -o-transform: translateZ( 0px );
  -ms-transform: translateZ( 0px ); 
}

.spin-container {
  box-sizing:border-box;
  -webkt-box-sizing:border-box;
  width: 600px;
  height: 150px;
  background:#333;
  position: relative;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}

#prism .front  { 
  -webkit-transform: rotateY( 0deg ) translateZ( 5px ); 
  -moz-transform: rotateY( 0deg ) translateZ( 5px ); 
  -o-transform: rotateY( 0deg ) translateZ( 5px );
  -ms-transform: rotateY(   0deg ) translateZ( 5px ); 
  transform: rotateY( 0deg ) translateZ( 5px ); 
  
  width:600px;
  height:150px;
}
#prism .back   { 
  -webkit-transform: rotateX( 180deg ) translateZ( 5px ); 
  -moz-transform: rotateX( 180deg ) translateZ( 5px ); 
  -o-transform: rotateX( 180deg ) translateZ( 5px ); 
  -ms-transform: rotateX( 180deg ) translateZ( 5px ); 
  transform: rotateX( 180deg ) translateZ( 5px ); 
  width:600px;
  height:150px;
}
#prism .right  { 
  -webkit-transform: rotateY(  90deg ) translateZ( 595px );
  -moz-transform: rotateY(  90deg ) translateZ( 595px );
  -o-transform: rotateY(  90deg ) translateZ( 595px );
  -ms-transform: rotateY(  90deg ) translateZ( 595px );
  transform: rotateY(  90deg ) translateZ( 595px ); 
  height:150px;
  width:10px;
}
#prism .left   { 
  -webkit-transform: rotateY( -90deg ) translateZ( 5px );
  -moz-transform: rotateY( -90deg ) translateZ( 5px );
  -o-transform: rotateY( -90deg ) translateZ( 5px );
  -ms-transform: rotateY( -90deg ) translateZ( 5px );
  transform: rotateY( -90deg ) translateZ( 5px ); 
  height:150px;
  width:10px;
}
#prism .top    { 
  -webkit-transform: rotateX(  90deg ) translateZ( 5px ); 
  -moz-transform: rotateX(  90deg ) translateZ( 5px ); 
  -o-transform: rotateX(  90deg ) translateZ( 5px ); 
  -ms-transform: rotateX(  90deg ) translateZ( 5px ); 
  transform: rotateX(  90deg ) translateZ( 5px ); 
  height:10px;
  width:600px;
}
#prism .bottom { 
  -webkit-transform: rotateX( -90deg ) translateZ( 145px ); 
  -moz-transform: rotateX( -90deg ) translateZ( 145px ); 
  -o-transform: rotateX( -90deg ) translateZ( 145px ); 
  -ms-transform: rotateX( -90deg ) translateZ( 145px ); 
  transform: rotateX( -90deg ) translateZ( 145px ); 
  height:10px;
  width:600px;
}

.btn-group {
  vertical-align: baseline;
}

.dropdown-menu a {
  cursor: pointer;
}

.btn-group .option {
  color:#33CCFF !important;
  border-bottom:1px dotted #33CCFF;
  font-size:22px;
  vertical-align: baseline;
}

#top-bar h2 {
  font-size:22px;
}

#prism figure {
  display: block;
  position: absolute;
  width: 600px;
  height: 150px;
  font-weight: bold;
  color: white;
  text-align: center;
  border:1px solid rgba(0,0,0,0.7);
  background-color:tomato;
  border-radius:3px;
  margin:0;
  box-sizing:border-box;
}

md-toolbar {
  position:relative;
}

md-toolbar#top-view {
  z-index:999;
}

.md-tile-content {
  text-shadow:1px 1px rgba(0,0,0,0.2);
}

.md-tile-content h3 {
  overflow:hidden;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

}

#tall-image{
  height:100%;
  max-height:100%;
  min-height:500px;
}
