@font-face {
  font-family: 'Benton-Black';
  src: url('/fonts/Benton_Sans/BentonSans-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Benton-Medium';
  src: url('/fonts/Benton_Sans/BentonSans-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Benton-Book';
  src: url('/fonts/Benton_Sans/BentonSans-Book.otf') format('opentype');
}

html {
  font-family:'Benton-Medium', Fallback, sans-serif;
}

md-list{
  background-color:#f5f5f5;
}

body{
  background-color:#f5f5f5;
}

a {
  color:inherit;
  text-decoration:none;
}

h2 {
  font-size:2em;
  margin:0;
}

#container{
  margin-bottom:8%;
}

#menus {
  -webkit-margin-before: 0;
  -ms-margin-before: 0;
  -moz-margin-before: 0;
  -o-margin-before: 0;
  margin:0;
}

md-toolbar.md-default-theme{
  color:#ffffff;
}

#header {
  font-size:3em;
}

.page-container{
  min-height:700px;
}

.filter span {
  font-weight: 400;
  font-size: 15px;
}

.animate {
  -webkit-transition:all cubic-bezier(.65,.02,.29,1) 4s !important;
  -moz-transition:all cubic-bezier(.65,.02,.29,1) 4s !important;
  -o-transition:all cubic-bezier(.65,.02,.29,1) 4s !important;
  transition:all cubic-bezier(.65,.02,.29,1) 4s !important;
  -webkit-transform:rotateX(-540deg) !important;
  -moz-transform:rotateX(-540deg) !important;
  -o-transform:rotateX(-540deg) !important;
  transform:rotateX(-540deg) !important;
}

#prism.init {
  -webkit-transition:all cubic-bezier(.65,0,1,1) 1.5s !important;
  -moz-transition:all cubic-bezier(.65,0,1,1) 1.5s !important;
  -o-transition:all cubic-bezier(.65,0,1,1) 1.5s !important;
  transition:all cubic-bezier(.65,0,1,1) 1.5s !important;
  -webkit-transform:rotateX(-180deg) !important;
  -moz-transform:rotateX(-180deg) !important;
  -o-transform:rotateX(-180deg) !important;
  transform:rotateX(-180deg) !important;
}

#prism.spinningOut {
  animation: spinOut 1.5s 1 ease-out;
  -webkit-animation: spinOut 1.5s 1 ease-out;
  -moz-animation: spinOut 1.5s 1 ease-out;
  -o-animation: spinOut 1.5s 1 ease-out;
  -ms-animation: spinOut 1.5s 1 ease-out;
}


#prism.spinning {
  animation: spin 1.5s infinite linear;
  -webkit-animation: spin 1.5s infinite linear;
  -moz-animation: spin 1.5s infinite linear;
  -o-animation: spin 1.5s infinite linear;
  -ms-animation: spin 1.5s infinite linear;
}

@keyframes spinOut {
  0% {transform:rotateX(-180deg)}
  100% {transform:rotateX(-360deg)}
}

@-webkit-keyframes spinOut {
  0% {-webkit-transform:rotateX(-180deg)}
  100% {-webkit-transform:rotateX(-360deg)}
}

@keyframes spin {
  0% {transform:rotateX(-180deg)}
  50% {transform:rotateX(-360deg)}
  100% {transform:rotateX(-540deg)}
}

@-moz-keyframes spin {
  0% {-moz-transform:rotateX(-180deg)}
  50% {-moz-transform:rotateX(-360deg)}
  100% {-moz-transform:rotateX(-540deg)}
}

@-o-keyframes spin {
  0% {-o-transform:rotateX(-180deg)}
  50% {-o-transform:rotateX(-360deg)}
  100% {-o-transform:rotateX(-540deg)}
}

@-webkit-keyframes spin {
  0% {-webkit-transform:rotateX(-180deg)}
  50% {-webkit-transform:rotateX(-360deg)}
  100% {-webkit-transform:rotateX(-540deg)}
}

.pointer {
  cursor:pointer;
  transition: background-color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  -webkit-transition: background-color .3s ease-in-out;
}

.md-select-label{
  line-height: 1em;
}

.pointer:hover {
  background-color: rgba(158,158,158,.2);
}

.default {
  cursor:default;
}

.page-container {
  height:100vh;
}

#top-bar{
  background-color:#333;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  height:100px;
  min-height:100px;
  max-height:100px;
}

md-select {
  color: #FF8000;
  margin:0 10px;
}

.md-tall{
  background-size:cover;
  background-position:50%;
}

.full-gradient {
  background-color:rgba(0,0,0,0.6);
  width:100%;
  height:100%;
  text-align:center;
  padding:10px;
  transition:background-color 1s linear;
  min-height:500px;
}

.fade-out {
  background-color:rgba(0,0,0,1);
}

.full-gradient h1 {
  font-family: 'Benton-Medium', Fallback, sans-serif;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
  font-size: 7.2em;
  margin: 0;
  letter-spacing: 20px;
  text-transform: uppercase;
  margin-right: -20px;
}

.box-shadow-menu {
  position: relative;
  cursor: pointer;
  z-index: 1;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  right: 0;
}

.box-shadow-menu:active {
  background-color:rgba(0,0,0,0.1);
}

.box-shadow-menu:hover:before {
  background: rgba(255,255,255,1);
  box-shadow: 
    0 0.25em 0 0 rgba(255,255,255,1),
    0 0.5em 0 0 rgba(255,255,255,1);
}

.box-shadow-menu:before {
  margin:0 auto;
  cursor:pointer;
  content: " ";
  position: absolute;
  top: 17px;
  left:0;
  bottom: 0;
  right:0;
  width: 1em;
  height: 0.1em;
  background: rgba(255,255,255,0.8);
  box-shadow: 
    0 0.25em 0 0 rgba(255,255,255,0.8),
    0 0.5em 0 0 rgba(255,255,255,0.8);
}

.md-raised {
  padding:15px;
}

.yes-button {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  height:175px;
  width: 530px;
  backface-visibility:hidden;
}

.full-height {
  height:100%;
}

.event-buttons {
  position: relative;
}

.event-buttons button {
  border:3px solid white;
}

.button-container {
  margin:50px;
}

button {
  border-radius:0 !important;
  margin: 0 5px;
}

#prism {
  width:100%;
  height:100%;
  position: absolute;
  transform-style: preserve-3d;
  -webkit-transform-style:preserve-3d;
  box-shadow:0 2px 5px rgba(0,0,0,0.3);
  box-sizing:border-box;
}

figure {
  margin:0;
}

.spin-container {
  box-sizing:border-box;
  -webkt-box-sizing:border-box;
  width: 475px;
  height: 220px;
  position: relative;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}

#prism .front  { 
  -webkit-transform: rotateY( 0deg ) translateZ( 5px ); 
  -moz-transform: rotateY( 0deg ) translateZ( 5px ); 
  -o-transform: rotateY( 0deg ) translateZ( 5px );
  -ms-transform: rotateY(   0deg ) translateZ( 5px ); 
  transform: rotateY( 0deg ) translateZ( 5px ); 

  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  
  width:100%;
  height:100%;
  border:12px solid rgba(255,255,255,1);
}
#prism .back   { 
  -webkit-transform: rotateX( 180deg ) translateZ( 5px ); 
  -moz-transform: rotateX( 180deg ) translateZ( 5px ); 
  -o-transform: rotateX( 180deg ) translateZ( 5px ); 
  -ms-transform: rotateX( 180deg ) translateZ( 5px ); 
  transform: rotateX( 180deg ) translateZ( 5px ); 
  width:100%;
  height:100%;
  border:12px solid rgba(255,255,255,1);
}
#prism .right  { 
  -webkit-transform: rotateY(  90deg ) translateZ( 465px );
  -moz-transform: rotateY(  90deg ) translateZ( 465px );
  -o-transform: rotateY(  90deg ) translateZ( 465px );
  -ms-transform: rotateY(  90deg ) translateZ( 465px );
  transform: rotateY(  90deg ) translateZ( 465px ); 
  height:100%;
  width:10px;
  border:5px solid rgba(255,255,255,1);
}
#prism .left   { 
  -webkit-transform: rotateY( -90deg ) translateZ( 5px );
  -moz-transform: rotateY( -90deg ) translateZ( 5px );
  -o-transform: rotateY( -90deg ) translateZ( 5px );
  -ms-transform: rotateY( -90deg ) translateZ( 5px );
  transform: rotateY( -90deg ) translateZ( 5px ); 
  height:100%;
  width:10px;
  border:5px solid rgba(255,255,255,1);
}
#prism .top    { 
  -webkit-transform: rotateX(  90deg ) translateZ( 5px ); 
  -moz-transform: rotateX(  90deg ) translateZ( 5px ); 
  -o-transform: rotateX(  90deg ) translateZ( 5px ); 
  -ms-transform: rotateX(  90deg ) translateZ( 5px ); 
  transform: rotateX(  90deg ) translateZ( 5px ); 
  height:10px;
  width:100%;
  border:5px solid rgba(255,255,255,1);
}
#prism .bottom { 
  -webkit-transform: rotateX( -90deg ) translateZ( 210px ); 
  -moz-transform: rotateX( -90deg ) translateZ( 210px ); 
  -o-transform: rotateX( -90deg ) translateZ( 210px ); 
  -ms-transform: rotateX( -90deg ) translateZ( 210px ); 
  transform: rotateX( -90deg ) translateZ( 210px ); 
  height:10px;
  width:100%;
  border:5px solid rgba(255,255,255,1);
}

.btn-group {
  vertical-align: baseline;
  margin: 0 10px;
}

.dropdown-menu a {
  cursor: pointer;
}

.dropdown-menu>li>a {
  padding: 5px 20px;
  font-size:18px;
}

.btn-group .option span {
  vertical-align: middle;
}

#top-bar h2 {
  font-size:2em;
}

#prism figure {
  display: block;
  position: absolute;
  font-weight: bold;
  color: white;
  text-align: center;
  border:10px solid rgba(255,255,255,1);
  margin:0;
  box-sizing:border-box;
}

md-toolbar {
  position:relative;
}

md-toolbar#top-view {
  z-index:999;
}

#footer #twitter {
  background-image:url("/public/images/twitter.png");
}

#footer #facebook {
  background-image:url("/public/images/facebook.png");
}

.md-tile-content {
  text-shadow:1px 1px rgba(0,0,0,0.2);
  padding:0 10px 10px 15px;
}

.md-tile-content h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 2.8em;
}

#tall-image{
  height:100%;
  width:100%;
  min-height:500px;
  max-height:100%;
}

.arrow-down {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 2px solid #FF8000;
  border-bottom: 2px solid #FF8000;
  transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  vertical-align: middle;
  position: relative;
  top: -2.5px;
  margin: 0 5px;
}

md-select.md-default-theme:not([disabled]):focus .md-select-label {
  border: none;
}

md-toolbar.md-default-theme .md-button {
  color: #fff;
}

body:after{
    display:none;
    content: url('/public/images/mf2.jpg') url('/public/images/food.jpg') url('/public/images/film.jpg') url('/public/images/arts.jpg') url('/public/images/sports.jpg');
}

md-option{
  font-family:'Benton-Book', Fallback, sans-serif;
}

#footer {
  position: absolute;
  left: 60px;
  right: 0;
  bottom: 3%;
}

#footer #logo{
  width:250px;
}

#footer .icon {
  width: 40px;
  height: 40px;
  background-size: cover;
  margin: 0 0 8px 0;
}

#footer a {
  cursor:pointer;
}

#footer #icon-holder {
  margin-left: 20px;
}

@media (max-width:910px) {
  #header {
    font-size:2.2em;
  }
  #container{
    margin-bottom:15%;
  }
}

@media (max-width:600px) {
  .full-gradient h1{
    font-size:6em;
    letter-spacing: 5px;
    margin-right: -10px;
    line-height:1.5em;
  }
  #header {
    font-size:2em;
  }
  .spin-container {
    width:300px;
    height:200px;
  }
  #prism .bottom { 
    -webkit-transform: rotateX( -90deg ) translateZ( 195px ); 
    -moz-transform: rotateX( -90deg ) translateZ( 195px ); 
    -o-transform: rotateX( -90deg ) translateZ( 195px ); 
    -ms-transform: rotateX( -90deg ) translateZ( 195px ); 
    transform: rotateX( -90deg ) translateZ( 195px ); 
    height:10px;
    width:100%;
  }
  #prism .right {
    -webkit-transform: rotateY( 90deg ) translateZ( 465px );
    -moz-transform: rotateY( 90deg ) translateZ( 465px );
    -o-transform: rotateY( 90deg ) translateZ( 465px );
    -ms-transform: rotateY( 90deg ) translateZ( 465px );
    transform: rotateY( 90deg ) translateZ( 295px );
    height: 100%;
    width: 10px;
    border: 5px solid rgba(255,255,255,1);
  }
  .md-tile-content h4 {
    font-size:0.8em;
  }
  .button-container {
    margin:15px;
  }
  #container{
    margin-bottom:35%;
  }
  #footer {
    left:0;
  }
  .page-container{
    min-height:800px;
  }
}
