/* Styles go here */

md-list{
  background-color:#f5f5f5;
}

body{
  background-color:#f5f5f5;
}

a {
  color:inherit;
  text-decoration:none;
}

h2 {
  font-size:2em;
  margin:0;
}

#header {
  font-size:3em;
}

.filter span {
  font-weight: 400;
  font-size: 15px;
}

.animate {
  -webkit-transition:all cubic-bezier(.65,.02,.29,1) 6s !important;
  -moz-transition:all cubic-bezier(.65,.02,.29,1) 6s !important;
  -o-transition:all cubic-bezier(.65,.02,.29,1) 6s !important;
  transition:all cubic-bezier(.65,.02,.29,1) 6s !important;
  -webkit-transform:rotateX(-900deg) !important;
  -moz-transform:rotateX(-900deg) !important;
  -o-transform:rotateX(-900deg) !important;
  transform:rotateX(-900deg) !important;
}

.pointer {
  cursor:pointer;
}

.default {
  cursor:default;
}

.page-container {
  height:100vh;
}

#top-bar{
  background-color:#333;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  height:100px;
  min-height:100px;
  max-height:100px;
}

.md-tall{
  background-size:cover;
  background-position:50%;
  min-width:700px;
}

.full-gradient {
  background-color:rgba(0,0,0,0.6);
  width:100%;
  height:100%;
  text-align:center;
  transition:background-color 1s linear;
}

.fade-out {
  background-color:rgba(0,0,0,1);
}

.full-gradient h1 {
  text-shadow:1px 1px rgba(0,0,0,0.2);
  font-size:80px;
  margin:0;
  text-transform: uppercase;
}

.box-shadow-menu {
  position: relative;
  cursor: pointer;
  z-index: 1;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  right: 0;
}

.box-shadow-menu:active {
  background-color:rgba(0,0,0,0.1);
}

.box-shadow-menu:hover:before {
  background: rgba(255,255,255,1);
  box-shadow: 
    0 0.25em 0 0 rgba(255,255,255,1),
    0 0.5em 0 0 rgba(255,255,255,1);
}

.box-shadow-menu:before {
  margin:0 auto;
  cursor:pointer;
  content: " ";
  position: absolute;
  top: 17px;
  left:0;
  bottom: 0;
  right:0;
  width: 1em;
  height: 0.1em;
  background: rgba(255,255,255,0.8);
  box-shadow: 
    0 0.25em 0 0 rgba(255,255,255,0.8),
    0 0.5em 0 0 rgba(255,255,255,0.8);
}

.md-raised {
  padding:15px;
}

.yes-button {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  height:175px;
  width: 530px;
  backface-visibility:hidden;
}

.full-height {
  height:100%;
}

.button-container {
  margin-top:2.5em;
}

.event-buttons {
  position: relative;
}

.event-buttons button {
  border-radius:0 !important;
  margin: 0 5px;
  border:3px solid white;
}

#prism {
  width:100%;
  height:100%;
  position: absolute;
  transform-style: preserve-3d;
  -webkit-transform-style:preserve-3d;
  box-shadow:0 2px 5px rgba(0,0,0,0.3);
  box-sizing:border-box;
}

figure {
  margin:0;
}

.spin-container {
  box-sizing:border-box;
  -webkt-box-sizing:border-box;
  width: 530px;
  height: 175px;
  position: relative;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}

#prism .front  { 
  -webkit-transform: rotateY( 0deg ) translateZ( 5px ); 
  -moz-transform: rotateY( 0deg ) translateZ( 5px ); 
  -o-transform: rotateY( 0deg ) translateZ( 5px );
  -ms-transform: rotateY(   0deg ) translateZ( 5px ); 
  transform: rotateY( 0deg ) translateZ( 5px ); 
  
  width:530px;
  height:175px;
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
}
#prism .back   { 
  -webkit-transform: rotateX( 180deg ) translateZ( 5px ); 
  -moz-transform: rotateX( 180deg ) translateZ( 5px ); 
  -o-transform: rotateX( 180deg ) translateZ( 5px ); 
  -ms-transform: rotateX( 180deg ) translateZ( 5px ); 
  transform: rotateX( 180deg ) translateZ( 5px ); 
  width:530px;
  height:175px;
}
#prism .right  { 
  -webkit-transform: rotateY(  90deg ) translateZ( 525px );
  -moz-transform: rotateY(  90deg ) translateZ( 525px );
  -o-transform: rotateY(  90deg ) translateZ( 525px );
  -ms-transform: rotateY(  90deg ) translateZ( 525px );
  transform: rotateY(  90deg ) translateZ( 525px ); 
  height:175px;
  width:10px;
}
#prism .left   { 
  -webkit-transform: rotateY( -90deg ) translateZ( 5px );
  -moz-transform: rotateY( -90deg ) translateZ( 5px );
  -o-transform: rotateY( -90deg ) translateZ( 5px );
  -ms-transform: rotateY( -90deg ) translateZ( 5px );
  transform: rotateY( -90deg ) translateZ( 5px ); 
  height:175px;
  width:10px;
}
#prism .top    { 
  -webkit-transform: rotateX(  90deg ) translateZ( 5px ); 
  -moz-transform: rotateX(  90deg ) translateZ( 5px ); 
  -o-transform: rotateX(  90deg ) translateZ( 5px ); 
  -ms-transform: rotateX(  90deg ) translateZ( 5px ); 
  transform: rotateX(  90deg ) translateZ( 5px ); 
  height:10px;
  width:530px;
}
#prism .bottom { 
  -webkit-transform: rotateX( -90deg ) translateZ( 170px ); 
  -moz-transform: rotateX( -90deg ) translateZ( 170px ); 
  -o-transform: rotateX( -90deg ) translateZ( 170px ); 
  -ms-transform: rotateX( -90deg ) translateZ( 170px ); 
  transform: rotateX( -90deg ) translateZ( 170px ); 
  height:10px;
  width:530px;
}

.btn-group {
  vertical-align: baseline;
}

.dropdown-menu a {
  cursor: pointer;
}

.dropdown-menu>li>a {
  padding: 5px 20px;
  font-size:18px;
}

.btn-group .option {
  color:#FF8000 !important;
  font-size:1.2em;
  vertical-align: baseline;
}

.btn-group .option span {
  border-bottom:1px dashed #FF8000;
}

#top-bar h2 {
  font-size:2em;
}

#prism figure {
  display: block;
  position: absolute;
  width: 600px;
  height: 150px;
  font-weight: bold;
  color: white;
  text-align: center;
  border:5px solid rgba(255,255,255,1);
  margin:0;
  box-sizing:border-box;
}

md-toolbar {
  position:relative;
}

md-toolbar#top-view {
  z-index:999;
}

.md-tile-content {
  text-shadow:1px 1px rgba(0,0,0,0.2);
}

.md-tile-content h3 {
  overflow:hidden;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  height:1.1em;
}

#tall-image{
  height:100%;
  max-height:100%;
  min-height:500px;
}

body:after{
    display:none;
    content: url('/public/images/music.jpg') url('/public/images/food.jpg') url('/public/images/film.jpg') url('/public/images/arts.jpg') url('/public/images/sports.jpg');
}
