<section class="spin-container">
  <div id="prism">
    <figure class="front">
      <div class="full-height" layout="column" layout-align="center center">
        <h1 ng-hide="found">Say Yes</h1>
        <div event-card id="event-card" ng-if="found">
        </div>
        <div ng-show="visibleEvent" class="event-buttons">
          <a style="display:inline-block;" target="_blank" ng-href="{{visibleEvent.url}}"> 
            <md-button class="pointer">Say Yes</md-button>
          </a> 
          <md-button class="pointer" ng-click="wheelSpin($event)"> Hit Me </md-button>
        </div>
      </div>
    </figure>
    <figure class="back"></figure>
    <figure class="left"></figure>
    <figure class="right"></figure>
    <figure class="top"></figure>
    <figure class="bottom"></figure>
  </div>
</section>